<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<!--------------------------------Header start-->
<nav class="header navbar navbar-default navbar-fixed-top" role="navigation" style="height:80px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img style="height:30px;margin-top:30px" src="../../../../assets/images/logo.png" class="logo" alt="logo">

    </div>
    <!-- /.navbar-header -->

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">About Us</a></li>
        <li><a href="#">Create Account</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Policy</a></li>
        <li><a href="#"></a></li>

      </ul>
    </div>
    <!-- /.navbar-collapse collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!--/------------------------------/Header End-->

  <div class="container">
    <div class="jumbotron text-center">
      <h1></h1>
      <h2></h2>
      <p>
      </p>

    </div>
</div>




    <!-- <header>
        <div class="navbar">
            <img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/logo.svg" class="logo" alt="logo">
            <div class="navigation">
                <a href="#">Features</a>
                <a href="#">Team</a>
                <a href="#">Sign In</a>
            </div>
        </div>
    </header> -->
    <div class="section1 container" style="margin-top:-60px; backgroundColor:#fff">
        <div class="text1">
            <h1 style="font-weight: bold;">Smart Investment</h1>
            <p style="color:#333">A trade merchandise with all in
              one ready to make profit toolset.Our mission is to equip traders around the world with easier ways of doing trade business and give technical insights to beginners or experts keen notes on how to stay financially successful in trading</p>

            <form action="#"><input id="submit" type="submit" value="Get Started"></form>
        </div>
        <img src="../../../../assets/images/aa.jpg" alt="people working">
</div>
    <div class="section2 container" >
        <div class="background-color" style=" backgroundColor:#fff">
        <div class="text2">
            <h1>We Are Platform Traders</h1>
            <p>From currency trade to future trade and the likes of investments packages, (Trade Stocks/ETFs, and over 11,000 Mutual Funds) of products suits,
               we have got you covered.Learn the indepth skills required for your successful profit exciting but competitive journey. We see risk as a trade off landmark to value acquisition .</p>

            <a href="#">See how Fylo works<img src="../../../../assets/images/logo.png" alt="tiny arrow"></a>
            <div class="testimonial">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-two-column-layout/9597c64eec3cb785b4a04b31e917204c1622355a/images/icon-quotes.svg" alt="quote icon">
                <p>Smart Trading has a network of great minds and those that want to add to  in the world of digital trading.
                 Harness the power of digital trades to lucratively improve and increase your financial state.
                  Find out about it now.</p>
                <img class="profile-pic" src="../../../../assets/images/logo.png" alt="profile pic">
                <div class="name">
                    <h5>Abel Keneth</h5>
                    <h6>Founder & CEO, Smart</h6>
                </div>
            </div>
        </div>
        <img src="../../../../assets/images/cc.jpg" class="sec2img" alt="people working">
        </div>
    </div>



























<br/>





        <div class="my_wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>Platform Traders</h2>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="./assets/images/target.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" >Our Mission</h3>
                                   <p>Our mission is to equip traders around the world with easier ways of doing trade business and give technical insights to beginners or experts keen notes on how to stay financially successful in trading.</p>

                                </div>
                                <!-- <div class="read-more text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div> -->
                                <div class="readMore text-center"><a  href="./about" class="btn-plain btn-sm">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="./assets/images/team128.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" >Trade Products</h3>
                                   <p>From currency trade to future trade and the likes of investments packages, (Trade Stocks/ETFs, and over 11,000 Mutual Funds) of products suits,
                                      we have got you covered.Learn the indepth skills required for your successful profit exciting but competitive journey. We see risk as a trade off landmark to value acquisition .</p>

                                </div>
                                <!-- <div class="readMore text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div> -->
                                <div class="readMore text-center"><a  href="./tradeproduct" class="btn-plain btn-sm">Read more</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="./assets/images/network.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" >The Trade Network</h3>
                                   <p>Benefits Assured has a network of great minds and those that want to add to  in the world of digital trading.
                                    Harness the power of Hades to lucratively conjure dark energy coins to add to your trade suits.
                                     Find out about it now.
                                   </p>

                                </div>
                                <!-- <div class="read-more text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div> -->
                                <div class="readMore text-center"><a  href="./tradenetwork" class="btn-plain btn-sm">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
         <hr style="background:#f6f6f6;height:20px; box-shadow: 10px 10px 8px #fafafa;"/>

</div>
<section id="mean_stack" class="mean mean_stack fixed-bg-image" style="background-color:blue">
    <div class="fixed-bg-div">
    <div class="my_wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>Trade on your own terms</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col_content">
                            <div>
                                <h3 class="main" style="color:#fff">Invest in the world's most popular assets</h3>
                                <p>
A wide selection of investment product to help build diversified portfolio</p>
                                <p>
Powerful trading tools, resources and support.From established industries to booming new age up-and-comers — pick from over a dozen of different routes to a smart investment.
Vivamus sodales id erat vitae ultricies. </p>
<p>Donec hendrerit orci at metus venenatis, vitae dictum enim viverra.
  Praesent non posuere mauris, nec pretium ante. Duis tincidunt justo quis diam fringilla,
  pellentesque ullamcorper massa elementum.</p>
                            </div>
                            <div class="readMore text-center">
                                <a  href="#" class="btn-plain btn-sm ">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col_content">
                            <div>
                                <h3 class="main" style="color:#fff">Training For Trading </h3>
                                <p>Fnd out how and what it takes you to learn to use our platform to trade?</p>
                                <p>We have recommendations for ebooks to easen your study journey in trading.
                                  Follow through with dedicated videos provided to guide you through your trading path as you unlock your suceessful trading potentials. </p>
                                <p>Suspendisse cursus suscipit tortor ut lobortis. Vivamus sodales id erat vitae ultricies. </p> <p>Donec hendrerit orci at metus venenatis, vitae dictum enim viverra. Praesent non posuere mauris, nec pretium ante. Duis tincidunt justo quis diam fringilla, pellentesque ullamcorper massa elementum.</p>
                            </div>
                            <div class="readMore text-center">
                                <a  href="#" class="btn-plain btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>



<section id="apply"class="apply fixed-bg-apply" style="background-color:#fff">
  <div class="fixed-bg-divapply">
    <div class="my_wrapper">
       <div class="container-fluid">
          <div class="row">
              <div class="container-fluid">
                <h2 class="text-center">
                    Great Trading Conditions Applied
                </h2>
                <div class="row">
                  <div class="col-md-4 col-sm-6 mixer">
                    <div class="tile access">
                      <span class=""><img src="./assets/images/network.png"></span>
                        <h4>18 Trading Tools</h4>
                        <p>Plan your trades effectively with our wide range of free trading tools.</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6 mixer">
                    <div class="center">
                        <span class="icon"><img src="./assets/images/network.png"></span>
                        <h4>1000+ Trading Products</h4>
                        <p>All the best possible opportunities to diversify your trading portfolio in a smart way.
                        </p>

                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 mixer">
                    <div class="center">
                        <span class="icon"><img src="./assets/images/apply.png"></span>
                        <h4>Account Sets</h4>
                        <p>Complete flexibility for traders of all risk appetites and trading volumes
                        </p>

                    </div>
                  </div>
                </div>


                <!--row 2-->
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="./assets/images/network.png"></span>
                        <h4>20+ Funding Methods</h4>
                        <p>Fund your account for free with these quick, easy and secure methods.</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="./assets/images/network.png"></span>
                        <h4>Super Trading Platforms</h4>
                        <p>
Powerful platforms to suit all trading styles and needs on any device
                        </p>

                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="./assets/images/apply.png"></span>
                        <h4>Account Sets</h4>
                        <p>Complete flexibility for traders of all risk appetites and trading volumes
                        </p>

                    </div>
                  </div>
                </div>

                <!--row 2-->
            </div>
        </div>
      </div>
    </div>
 </div>
   <hr style="background:#f6f6f6;height:20px; box-shadow: 10px 10px 8px #fafafa;"/>
</section>



        <div class="content">


                <div class="features" style="">
                    <div class="tile access">
                        <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" alt="access icon">
                        <h3>Invest in the world's most popular assets</h3>
                        <p>Powerful trading tools, resources and support.From established industries to booming new age up-and-comers — pick from over a dozen of different routes to a smart investment.</p>
                    </div>
                    <div class="tile access">
                        <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" alt="access icon">
                        <h3>Invest in the world's most popular assets</h3>
                        <p>Powerful trading tools, resources and support.From established industries to booming new age up-and-comers — pick from over a dozen of different routes to a smart investment.
</p>
                    </div>
                    <div class="tile access">
                        <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" alt="access icon">
                        <h3>Training For Trading</h3>
                        <p>We have recommendations for ebooks to easen your study journey in trading.
                          Follow through with dedicated videos provided to guide you through your trading path as you unlock your suceessful trading potentials.</p>
                    </div>
                    <div class="tile access">
                        <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" alt="access icon">
                        <h3>Invest in the world's most popular assets</h3>
                        <p>Powerful trading tools, resources and support.From established industries to booming new age up-and-comers — pick from over a dozen of different routes to a smart investment.</p>
                    </div>
                </div>
            </div>


            <div class="section3" style="background:#fafafa">
                <img src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/illustration-stay-productive.png?raw=true" alt="people working">
                <div class="sec3text">
                    <h1>Stay productive, wherever you are</h1>
                    <p>Never let location be an issue when accessing your files. Fylo has you covered for all your file storage needs.<br><br>Securely share files and folders with friends, family, and colleagues for live collaboration. No email attachments required.</p>
                    <a href="#">See how Fylo works    <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-arrow.svg" alt="tiny arrow"></a>
                </div>
            </div>
            <div class="section4">
                <div class="quotes">
                    <img id="quotation" src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/bg-quotes.png?raw=true" alt="quotation mark">
                </div>
                <div class="quote-cards">
                    <div class="card">
                        <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch, our team has become a well-oiled collaboration machine.</p>
                            <img class="profile-pic" src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/profile-1.jpg?raw=true" alt="profile pic">
                            <h5>Satish Patel</h5>
                            <h6>Founder & CEO, Huddle</h6>

                    </div>
                    <div class="card">
                        <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch, our team has become a well-oiled collaboration machine.</p>
                            <img class="profile-pic" src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/profile-2.jpg?raw=true" alt="profile pic">
                            <h5>Bruce McKenzie</h5>
                            <h6>Founder & CEO, Huddle</h6>
                    </div>
                    <div class="card">
                        <p>Fylo has improved our team productivity by an order of magnitude. Since making the switch, our team has become a well-oiled collaboration machine.</p>

                            <img class="profile-pic" src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/profile-3.jpg?raw=true" alt="profile pic">
                            <h5>Iva Boyd</h5>
                            <h6>Founder & CEO, Huddle</h6>
                    </div>
                </div>
            </div>
























            <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
            <html xmlns="http://www.w3.org/1999/xhtml">
            <head>

            	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
            	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
            	<title>Nomilive - Email Seguimiento</title>
            	<style type="text/css">

            	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
            	@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

            	.ReadMsgBody { width: 100%; background-color: #ffffff; }
                .ExternalClass { width: 100%; background-color: #ffffff; }
                .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
            	html { width: 100%; }
            	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
            	table { border-spacing: 0; border-collapse: collapse; }
            	table td { border-collapse: collapse; }
            	.yshortcuts a { border-bottom: none !important; }
            	img { display: block !important; }
            	a { text-decoration: none; color: #50c3af; }

            	/* Media Queries */

            	@media only screen and (max-width: 640px) {
            		body { width: auto !important; }
            		table[class="table600"] { width: 450px !important; }
            		table[class="table-container"] { width: 90% !important; }
            		table[class="container2-2"] { width: 47% !important; text-align: left !important; }
            		table[class="full-width"] { width: 100% !important; text-align: center !important; }
            		img[class="img-full"] { width: 100% !important; height: auto !important; }
            }

            	@media only screen and (max-width: 479px) {
            		body { width: auto !important; }
            		table[class="table600"] { width: 290px !important; }
            		table[class="table-container"] { width: 82% !important; }
            		table[class="container2-2"] { width: 100% !important; text-align: left !important; }
            		table[class="full-width"] { width: 100% !important; text-align: center !important; }
            		img[class="img-full"] { width: 100% !important; }
            }

            	</style>

            </head>

            <body marginwidth="0" marginheight="0" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;" offset="0" topmargin="0" leftmargin="0">



            	<!-- FOOTER A -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<td align="center" bgcolor="#ffffff">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">

            					<tr>
            						<td height="50" style="font-size: 1px; line-height: 50px;">&nbsp;</td>
            					</tr>

            					<tr>
            						<td align="center">
                                        <a href="http://www.nomilive.com/Home/Index?identityPage=-8586580036890885623#about" target="_blank">
                                        <img src="https://raw.githubusercontent.com/Min11Benja/Nomilive-custome-emails/master/newsletter-follow-up-email/images/logo-nomilive-150x51.png" alt="logo" width="135" height="45">
                                        </a>

            						</td>
            					</tr>

            					<tr>
            						<td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
            					</tr>




            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END FOOTER A -->

            		<!-- SEPERATOR B -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<!-- Background -->
            			<td align="center" bgcolor="#e6ebee">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">

            					<tr>
            						<td height="35" style="font-size: 1px; line-height: 35px;">&nbsp;</td>
            					</tr>

            					<tr>
            						<td>
            							<table class="table600" width="600" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border-radius: 3px;">
            								<tr>
            									<td align="center">
            										<table class="table-container" width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">

            											<tr>
            												<td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
            											</tr>

            											<tr>
            												<td>

            													<table class="full-width" width="390" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">

            														<tr>
            															<td style="font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 600; color: #333333; line-height: 24px;">
            																Gracias por ponerte en contacto con nosotros
            															</td>
            														</tr>

            														<tr>
            															<td height="5" style="font-size: 1px; line-height: 5px;">&nbsp;</td>
            														</tr>

            														<tr>
            															<td style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: #8f96a1; line-height: 24px;" >
            																Estás muy cerca de mejorar el desarrollo de tu negocio/empresa.
            															</td>
            														</tr>
            													</table>

            													<!-- SPACE -->
            														<table class="full-width" width="1" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" >
            															<tr>
            																<td width="1" height="10" style="font-size: 10px; line-height: 10px;"></td>
            															</tr>
            														</table>
            													<!-- END SPACE -->

            													<table class="full-width" width="128" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">

            														<tr>
            										    				<td height="53" valign="middle" align="left">
            												    			<table width="127" align="center" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #50c3af; border-radius: 24px;">

            												    				<tr>
            												    					<td height="9" style="font-size: 1px; line-height: 9px;">&nbsp;</td>
            												    				</tr>

            												    				<tr>
            												    					<td align="center" style="font-family: 'Montserrat', sans-serif; font-size: 11px; font-weight: 400; color: #50c3af; line-height: 24px; letter-spacing: 1px;">
            												    						<a href="http://www.nomilive.com/Home/Index?identityPage=-8586580036890885623#about" style="color: #50c3af; text-decoration: none;" target="_blank"> VER MÁS</a>
            												    					</td>
            												    				</tr>

            												    				<tr>
            												    					<td height="9" style="font-size: 1px; line-height: 9px;">&nbsp;</td>
            												    				</tr>

            												    			</table>
            												    		</td>
            												    	</tr>

            													</table>

            												</td>
            											</tr>

            											<tr>
            												<td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
            											</tr>

            										</table>
            									</td>
            								</tr>
            							</table>
            						</td>
            					</tr>

            					<tr>
            						<td height="35" style="font-size: 1px; line-height: 35px;">&nbsp;</td>
            					</tr>

            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END SEPERATOR B -->



            	<!-- ARTICLE FULL -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<td align="center" bgcolor="#ffffff">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">

            					<tr>
            						<td height="50" style="font-size: 1px; line-height: 50px;">&nbsp;</td>
            					</tr>
                                 <tr>
            						<td align="center" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: #8f96a1; line-height: 24px;">

            							Te suscribimos a nuestro boletín mensual
            						</td>
            					</tr>
            					<tr>
            						<td align="center" style="font-family: 'Open Sans', sans-serif; font-size: 26px; font-weight: 600; color: #333333; letter-spacing: 1px; line-height: 32px;">
            							Prepárate
            						</td>
            					</tr>




                                <tr>
            						<td height="30" style="font-size: 1px; line-height: 30px;">&nbsp;</td>
            					</tr>
                                <tr>
            						<td align="center">
            							<img src="https://raw.githubusercontent.com/Min11Benja/Nomilive-custome-emails/master/newsletter-follow-up-email/images/speaker.png" alt="logo" width="135" height="145">
            						</td>
            					</tr>

            					<tr>
            						<td height="30" style="font-size: 1px; line-height: 30px;">&nbsp;</td>
            					</tr>

            					<tr>
            						<td align="center" style="font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 400; color: #8f96a1; line-height: 24px;">
            							Mensualmente te mantendremos informado en todas las novedades y noticias relacionadas con el pago de Nómina.
            						</td>
            					</tr>


            					<tr>
            						<td height="50" style="font-size: 1px; line-height: 50px;">&nbsp;</td>
            					</tr>

            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END ARTICLE FULL -->



            		<!-- SEPERATOR GRAY -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<!-- Background -->
            			<td align="center" bgcolor="#e6ebee">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">




            					<tr>
            						<td height="35" style="font-size: 1px; line-height: 35px;">&nbsp;</td>
            					</tr>

            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END SEPERATOR GRAY -->


            		<!-- FOOTER A -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<td align="center" bgcolor="#F5F5F5">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">




            					<tr>
            						<td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
            					</tr>

                                <tr>
            						<td height="20" style="font-size: 1px; line-height: 20px;">&nbsp;</td>
            					</tr>

                                 <tr>
            						<td align="center" style="font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; color: #606060; letter-spacing: 1px; line-height: 13px;">
            							Estas recibiendo este correo porque preguntaste por información acerca de  <a href="#" style="color: #a5c10f; text-decoration: none;" target="_blank">Nomilive</a> en un anuncio de Facebook.
            						</td>
            					</tr>

                                  <tr>
            						<td height="10" style="font-size: 1px; line-height: 10px;">&nbsp;</td>
            					</tr>
                               <tr>
            						<td align="center" style="font-family: 'Montserrat', sans-serif; font-size: 10px; font-weight: 400; color: #606060; letter-spacing: 1px; line-height: 24px;">
            							PUEDES DE-SUSCRIBIRTE DANDO CLIC <a href="#" style="color: #808080; text-decoration: none;">AQUÍ</a>.
            						</td>
            					</tr>

            					<tr>
            						<td height="50" style="font-size: 1px; line-height: 50px;">&nbsp;</td>
            					</tr>

            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END FOOTER A -->


            	<!-- FOOTER B -->
            	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
            		<tr>
            			<td align="center" bgcolor="#2d2d2d">
            				<table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">

            					<tr>
            						<td height="10" style="font-size: 1px; line-height: 10px;">&nbsp;</td>
            					</tr>

            					<tr align="center">
            						<td style="font-family: 'Montserrat', sans-serif; font-size: 9px; font-weight: 400; color: #ffffff; line-height: 24px; letter-spacing: 2px;">
            							DERECHOS DE AUTOR © 2018 <a href="#" style="color: #a5c10f; text-decoration: none;" target="_blank">NOMILIVE</a>. <br>TODOS LOS DERECHOS RESERVADOS.
            						</td>
            					</tr>

            					<tr>
            						<td height="10" style="font-size: 1px; line-height: 10px;">&nbsp;</td>
            					</tr>

            				</table>
            			</td>
            		</tr>
            	</table>
            	<!-- END FOOTER B -->

            </body>
            </html>


































<div class="footer navbar navbar-default navbar-fixed-bottom" role="navigation" style="height:30px">
  <div class="container">

    <div class="footer-social pull-left">
      <a href="https://codepen.io/Min11Benja/"><i class="fa fa-codepen fa-3x" aria-hidden="true"></i></a>
      <a href="https://github.com/Min11Benja"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/in/min11benja"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>

      <a href="https://www.youtube.com/watch?v=X4029p8UfLA&list=UUkRlnkkyxGXvb1F8Q-9d6Bg"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Min11Benja"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/benjy.znaiizer"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>

      <a href="https://medium.com/@min11benja"><i class="fa fa-medium fa-3x" aria-hidden="true"></i></a>
      <a href="https://www.twitch.tv/min11benja"><i class="fa fa-twitch fa-3x" aria-hidden="true"></i></a>

    </div>

    <div class="fotter-lic pull-right">
      RESPONSIVE MOBILE-FIRST WEBSITE
      HECHO CON CARIÑO POR <a href="about_me.html">MIN11BENJA</a> EL 28 DE JULIO DEL 2016
      <br />ESTA OBRA ESTÁ BAJO UNA <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">"Licencia Creative Commons Reconocimiento-NoComercial 4.0 Internacional"</a><br><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>
    </div>
    <!-- /.footer-lic -->

  </div>
  <!-- /.container-fluid -->
</div>

<!--/------------------------------/Footer End-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
