<app-header></app-header>
<hr/>


<header id="top" class="header card">
        <div class="text-vertical-center">
            <div class="header_container">
                <div class="logo">

                    <div class="tag_line" style="text-align:center; color:#000; font-size:60px; margin-top:90px">Benefits Assured</div>
                    <p style="text-align:center; color:#337ab7; font-size:20px"> A trade merchandise with all in
                      one ready to make profit toolset</p>

                      <h5 style="text-align:center; color:green; font-size:15px; margin-top:60px">
                        <span style="margin-right:5px"> * FOREX *</span>
                        <span style="margin-right:5px">* CRYPTOCURRENCIES *</span>
                        <span style="margin-right:5px">* MUTUAL FUNDS/ETFS/STOCKS *</span>
                        <span style="margin-right:5px">* HADES *</span>
                        </h5>
                </div>
            </div>
        </div>
    </header>



        <div class="my_wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>Platform Traders</h2>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="img/target.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" style="color:green">Our Mission</h3>
                                   <p>Our mission is to equip traders around the world with easier ways of doing trade business and give technical insights to beginners or experts keen notes on how to stay financially successful in trading.</p>

                                </div>
                                <div class="read-more text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="img/team128.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" style="color:green">Trade Products</h3>
                                   <p>From currency trade to future trade and the likes of investments packages, (Trade Stocks/ETFs, and over 11,000 Mutual Funds) of products suits,
                                      we have got you covered.Learn the indepth skills required for your successful profit exciting but competitive journey. We see risk as a trade off landmark to value acquisition .</p>

                                </div>
                                <div class="readMore text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="card cardbox">
                           <div class="image-wrapper">
                              <img src="img/network.png" />
                            </div>
                            <div class="card-body">
                                <div class="card-content">
                                   <h3 class="main" style="color:green">The Trade Network</h3>
                                   <p>Benefits Assured has a network of great minds and those that want to add to  in the world of digital trading.
                                    Harness the power of Hades to lucratively conjure dark energy coins to add to your trade suits.
                                     Find out about it now.
                                   </p>

                                </div>
                                <div class="read-more text-center">
                                    <a  href="#" class="blue-btn-custom btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>















</div>
<section id="mean_stack" class="mean mean_stack fixed-bg-image" style="background-color:blue">
    <div class="fixed-bg-div">
    <div class="my_wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>Trade on your own terms</h2>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col_content">
                            <div>
                                <h3 class="main" style="color:#fff">Invest in the world's most popular assets</h3>
                                <p>
A wide selection of investment product to help build diversified portfolio</p>
                                <p>
Powerful trading tools, resources and support.From established industries to booming new age up-and-comers — pick from over a dozen of different routes to a smart investment.
Vivamus sodales id erat vitae ultricies. </p>
<p>Donec hendrerit orci at metus venenatis, vitae dictum enim viverra.
  Praesent non posuere mauris, nec pretium ante. Duis tincidunt justo quis diam fringilla,
  pellentesque ullamcorper massa elementum.</p>
                            </div>
                            <div class="readMore text-center">
                                <a  href="#" class="btn-plain btn-sm ">Get Started</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="col_content">
                            <div>
                                <h3 class="main" style="color:#fff">Training For Trading </h3>
                                <p>Fnd out how and what it takes you to learn to use our platform to trade?</p>
                                <p>We have recommendations for ebooks to easen your study journey in trading.
                                  Follow through with dedicated videos provided to guide you through your trading path as you unlock your suceessful trading potentials. </p>
                                <p>Suspendisse cursus suscipit tortor ut lobortis. Vivamus sodales id erat vitae ultricies. </p> <p>Donec hendrerit orci at metus venenatis, vitae dictum enim viverra. Praesent non posuere mauris, nec pretium ante. Duis tincidunt justo quis diam fringilla, pellentesque ullamcorper massa elementum.</p>
                            </div>
                            <div class="readMore text-center">
                                <a  href="#" class="btn-plain btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<section id="apply"class="apply fixed-bg-apply" style="background-color:#fff">
  <div class="fixed-bg-divapply">
    <div class="my_wrapper">
       <div class="container-fluid">
          <div class="row">
              <div class="container-fluid">
                <h2 class="text-center">
                    Great Trading Conditions Applied
                </h2>
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/hourglass.png"></span>
                        <h4>18 Trading Tools</h4>
                        <p>Plan your trades effectively with our wide range of free trading tools.</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/network.png"></span>
                        <h4>1000+ Trading Products</h4>
                        <p>All the best possible opportunities to diversify your trading portfolio in a smart way.
                        </p>

                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/apply.png"></span>
                        <h4>Account Sets</h4>
                        <p>Complete flexibility for traders of all risk appetites and trading volumes
                        </p>

                    </div>
                  </div>
                </div>


                <!--row 2-->
                <div class="row">
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/hourglass.png"></span>
                        <h4>20+ Funding Methods</h4>
                        <p>Fund your account for free with these quick, easy and secure methods.</p>
                    </div>

                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/network.png"></span>
                        <h4>Super Trading Platforms</h4>
                        <p>
Powerful platforms to suit all trading styles and needs on any device
                        </p>

                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="center">
                        <span class="icon"><img src="img/apply.png"></span>
                        <h4>Account Sets</h4>
                        <p>Complete flexibility for traders of all risk appetites and trading volumes
                        </p>

                    </div>
                  </div>
                </div>

                <!--row 2-->
            </div>
        </div>
      </div>
    </div>
 </div>
</section>



















<section id="apply"class="apply fixed-bg-apply" >
  <div class="fixed-bg-divapply">
    <div class="my_wrapper">
       <div class="container-fluid">
          <div class="row">
              <div class="">
                <h2 class="text-center">
                    Great Trading Conditions Applied
                </h2>


                <div class="col-sm-4 col-md-3 cardbox">
           <div class="card">
              <div class="image-wrapper">
                 <img src="img/target.png" />
               </div>
               <div class="card-body">
                   <div class="card-content">
                      <h2 class="main">Mission Statement</h2>
                      <p>We are motivated to empower youth all across Africa
                         by equipping them with tools to help them succeed in life
                      </p>

                   </div>
                   <div class="read-more text-center">
                       <a  href="#" class="btn btn-primary btn-sm">Read more</a>
                   </div>
               </div>
           </div>
       </div>

       <div class="col-sm-4 col-md-3 cardbox">
  <div class="card">
     <div class="image-wrapper">
        <img src="img/target.png" />
      </div>
      <div class="card-body">
          <div class="card-content">
             <h2 class="main">Mission Statement</h2>
             <p>We are motivated to empower youth all across Africa
                by equipping them with tools to help them succeed in life
             </p>

          </div>
          <div class="read-more text-center">
              <a  href="#" class="btn btn-primary btn-sm">Read more</a>
          </div>
      </div>
  </div>
</div>



                              <div class="col-sm-4 col-md-3 cardbox">
                         <div class="card">
                            <div class="image-wrapper">
                               <img src="img/target.png" />
                             </div>
                             <div class="card-body">
                                 <div class="card-content">
                                    <h2 class="main">Mission Statement</h2>
                                    <p>We are motivated to empower youth all across Africa
                                       by equipping them with tools to help them succeed in life
                                    </p>

                                 </div>
                                 <div class="read-more text-center">
                                     <a  href="#" class="btn btn-primary btn-sm">Read more</a>
                                 </div>
                             </div>
                         </div>
                     </div>




                </div>


            </div>
        </div>
      </div>
    </div>




<!-- last component -->
<div class="container-fluid" style="margin-left:10%; margin-right:10%">
    <div class="row footer-col">
        <div class="footer-col1">
            <div class="text-center">
                <h4><strong>It’s easy to get started</strong>
                </h4>
            </div>
            <div class="contact group">
                <div class="col-md-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                       <a href="#set-5" class="hi-icon hi-icon-location" style="font-size:40px; color:green">1</a>
                    </div>
                    <div class="footer-col-text" style="background:#337ab7;padding:10px; color:#fff;height:100px">
                    <p>Sign up
<br>Create an account for free</p>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                     <a href="#" class="hi-icon hi-icon-mobile" style="font-size:40px; color:green">2</a>
                  </div>
                  <div class="footer-col-text" style="background:#fff;padding:10px;height:100px">
                    <p>Explore the platform<br>See what it’s like to invest without putting your money at risk</p>
                  </div>

                </div>
                <div class="col-md-4">
                    <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                       <a href="#set-5" class="hi-icon hi-icon-mail" style="font-size:40px; color:green">3</a>
                    </div>
                    <div class="footer-col-text-bar-last" style="background:#337ab7;padding:10px; color:#fff;height:100px">
                     <p>Invest & earn profit: Select an asset and make your money work for you</p>
                    </div>
                </div>
            </div>
            <div class= "footer_social-icons group text-center">
              <br class="small">

                <p class="text-center btn btn-primary btn-sm" style="background-color:green"> Open A Demo Account For Free</p>

            </div>
        </div>
    </div>
</div>

<!--end last-->
</section>






















<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6> What we provide at <i>Tradefx </i></h6>
          <p class="text-justify" style="color:black">

            Tradefx offers various accounts types, trading software and tools to facilitate
             individuals and institutional customers
             to trade Forex and Derivatives online.
             All Retail, Affiliates and White Label clients have the opportunity
              to access various spreads and liquidity via state of the art automated trading platforms.
               Tradefx.com provides an unparalleled variety of account options that clients can select to
                enjoy a tailored trading experience that perfectly suits their needs.
                Coupled with superior trading conditions and lightning fast execution,
                Tradefx
                provides all the tools and services needed for clients of any level to
                 realise their trading ambitions.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Site Maps</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Trade Platform</a></li>
            <li><a href="#">Trainning </a></li>
            <li><a href="#">Investments</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Hades Trade</a></li>
            <li><a href="#">Contributions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Partnership</a></li>
          </ul>
        </div>
      </div>
      <hr style="background:#fff">
    </div>


</footer>
