<app-header></app-header>
<br/><br/>
<div class="wrapper-page">
			<div class=" card-box">
				<h3 class="text-center">  <strong class="text-custom" style="color:#000">Benefits Assured</strong> </h3>
				<div class="panel-heading">
					<h3 class="text-center"> Reset Password </h3>
				</div>

				<div class="panel-body">
					<form method="post" action="#" role="form" class="text-center"  [formGroup]="form">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								×
							</button>
							Enter your <b>Email</b> and instructions will be sent to you!
						</div>
						<div class="form-group m-b-0">
							<div class="input-group">
								<input [formControl]="form.controls['email']"
								 type="email"
								 name="email"
								 id="email"
								 class="form-control"
								 placeholder="Enter Email"
								 required
								 >
								<span class="input-group-btn">
									<button
                   (click)="submit()"
                   [disabled]="!form.valid"
									 type="submit" class="btn btn-purple w-sm waves-effect waves-light">
										Reset
									</button>
								</span>
							</div>
						</div>

						<div class="row m-t-30">
						<div class="col-sm-12 text-center">
							<p>
								<a routerLink="../signin" class="text-primary m-l-5"><b>I remember my password</b></a>
							</p>
						</div>
						</div>

					</form>
				</div>
			</div>


		</div>
