<div class="row">
							<div class="col-sm-12">
								<div class="card-box">

									<h4 class=" m-t-0 header-title"><b>{{title}}</b></h4>
									<p class="text-muted m-b-30 font-13">{{description}}</p>

									<div class="owl-carousel owl-theme owl-loaded owl-drag" id="owl-multi">


									<div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-2700px, 0px, 0px); transition: all 0.25s ease 0s; width: 6000px;"><div class="owl-item cloned" style="width: 280px; margin-right: 20px;"><div class="item">
									    	<img src="{{ carousels[0].image}}">
									    </div>
                  </div>

                    <div *ngFor="let item of carousels" class="owl-item cloned" style="width: 280px; margin-right: 20px;"><div class="item">
									    	<img src="{{item.images}}">
									    </div>
                    </div>


              </div>
            </div>

            <div class="owl-nav disabled">
              <div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
								</div>
							</div>
						</div>
