<app-loading></app-loading>
<!--   -->
		<div class="topbar"  *ngIf="!loggedIn else runNextMenu">

                <!-- LOGO -->
                <div class="topbar-left" >
                    <div class="text-center">
                        <a href="./" class="logo"><i class="icon-magnet icon-c-logo"></i><span style="color:#000">Benefits</span></a>
                        <!-- Image Logo here -->
                        <a href="./" class="logo">
                            <!-- <i class="icon-c-logo"> <img src="assets/images/logo_sm.png" height="42"/> </i> -->
                            <span><img src="assets/images/partner_logo.png" height="50"/></span>
                        </a>

                    </div>
                </div>


                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation" >
                    <div class="container">
                        <div class="">
                            <div class="">
                                <a href="#" style="font-size:10px;margin-left:-40px;margin-top:30px" class="waves-effect waves-light">A merchandise of trade</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right pull-right">


                            </ul>


														<nav role='navigation'>
  <div id="menuToggle" *ngIf="loggedIn else runNextMenuNoToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu" class="shadow" >
      <a href="#" style="border-top:5px solid purple"><li>About</li></a>
      <a href="#"><li>Products</li></a>
      <a href="#"><li>Platforms</li></a>
      <a href="#"><li>Accounts</li></a>
			<a href="#"><li>Trade Tools</li></a>
      <a href="#" style="border-top:5px solid purple"><li>Tutorials</li></a>
      <a href="#"><li>Promotions</li></a>
      <a href="#"><li>Partners</li></a>
			<a href="#"><li>Investors</li></a>
      <a href="#"  class="btn-plain btn-sm"><li>Demo Account</li></a>

    </ul>
  </div>
</nav>





						<ng-template #runNextMenuNoToggle>

																				 <nav role='navigation'>
								<div id="menuToggle" *ngIf="!loggedIn else runNextMenuNoToggle">
									<!--
									A fake / hidden checkbox is used as click reciever,
									so you can use the :checked selector on it.
									-->
									<input type="checkbox" />

									<!--
									Some spans to act as a hamburger.

									They are acting like a real hamburger,
									not that McDonalds stuff.
									-->
									<span></span>
									<span></span>
									<span></span>

									<!--
									Too bad the menu has to be inside of the button
									but hey, it's pure CSS magic.
									-->
									<ul id="menu" class="shadow"  >
										<a href="#" style="border-top:5px solid purple"><li>Sign Up</li></a>
										<a href="#"><li>About</li></a>
										<a href="#"><li>Policy & End user Aggrements</li></a>
										<a href="#"><li>Terms of usage</li></a>
									</ul>


								</div>

							</nav>
            </ng-template>






				                </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>

            <ng-template #runNextMenu>
                 <usermenu-component *ngIf="loggedIn || user"></usermenu-component>
                  <adminmenu-component *ngIf="loggedIn && isAdmin || user?.isAdmin"></adminmenu-component>
            </ng-template>
