 <app-header></app-header>
<div style="background:#fff">
   <nav class="flex-col">
     <div class="nav-toggle" onclick="navChange(this)">
       <span class="hamburger top"></span>
       <span class="hamburger middle"></span>
       <span class="hamburger bottom"></span>
     </div>
     <!-- <img src="https://i.imgur.com/5sG0loK.png?1" alt="logo" /> -->
     <div class="ul-div flex-col">
       <ul class="main-nav">
         <li class="active"><a href="#home">home</a></li>
         <li><a href="#about">about</a></li>
         <li><a href="#contact">contact</a></li>
       </ul>
       <ul class="sec-nav">
         <li><a href="#signup">sign up</a></li>
         <li><a href="#signin">sign in</a></li>
       </ul>
     </div>
   </nav>
   <!-- HEADER -->
   <!-- <header class="vw-max flex-col blue-bkg" style="background:#fff">
     <div class="column">
       <h1 style="color:#000">
         WE ARE A Trade Merchandise.
         <span class="brown-text" style="color:#000">lets trade the easy way...</span>
       </h1>
     </div>
     <div class="column flex-end" style="color:#000">
       <p style="color:#000">
         At Benefits Assurance, we've thought of everything down to the smallest detail.
         On the road to creating a world-class trading platform, we feel that it is our priority to offer the highest
          quality services and support, including professional level tutorials, analytical services, and client support.
       </p>
       <button><a href="">i want to learn</a></button>
     </div>
   </header> -->
   <!-- MAIN -->
   <main>
     <!-- SECTION 1 -->
     <section class="vw-max section-1 flex-1200">
       <div class="column">
         <h2 class="brown-text">Professionalism</h2>
         <p style="font-size:14px">
           We know how important the quality of the trading platform is to a trader's success.
           That's precisely why Binomo places such emphasis on a high level of service and a wide spectrum
           of intellectual offers. In addition, the broker dedicates a huge amount of
           attention to the professional preparation of beginner traders,
           while at the same time providing for the highest level needs of the most sophisticated traders in the market.
         </p>
       </div>
       <div class="column">
         <h2 class="brown-text">Efficient</h2>
         <p style="font-size:14px">
           Binomo works with clients all over the world, guaranteeing the most advantageous terms
           and providing high quality access to the world's financial markets.
            We build our collaboration with our clients in the form of a conversation:
             we want to find out your needs and comments,
            and what you would like to get from working with Binomo, and we want to hear it directly from you.
         </p>
       </div>
       <div class="column">
         <h2 class="brown-text">Transparency</h2>
         <p style="font-size:14px">
           Our collaboration with our clients is completely transparent,
            while our high-tech service allows traders to see the actual picture of the world's
             financial markets, and to evaluate your risk objectively. Binomo is certified by the IFC
              and all of the risks of our clients are insured in accordance with the current laws, which makes
               us one of the safest trading platforms in the world.
         </p>
       </div>
     </section>
     <!-- SECTION 2 -->
     <section class="vw-max section-2 flex-1200">
       <div class="column" style="border:none;box-shadow:none">
         <h2>Go to sleep while we work</h2>
         <p>
           We are an indeginous forex trading academy founded in 2018
           by a host of  professionals.
           We decided to take on this challenge because of the increasing need for people
           to create wealth for themselves, Mr. Omolola decided to take it upon himself
           to educate everybody who is willing to learn on how to make sustainable passive
           income for themselves and increase their quality of living.

Our success stories cut across different spheres of life, from self emloyed personnels,
 gainfully employed personnels last but not the least business onwers. Everyone is welcomed to come go on the journey of enjoying the intircaies and the fundamentals of forex with US. A trial would convince you
         </p>
         <img src="https://a.c-dn.net/b/3IAktW/headline_shutterstock_132729920.jpg" alt="wireframes" />
         <p>
           Our customers choose us because we provide leading technology, deliver unmatched services and training,
           aof the best value in the industry.
           Our proven track records of succesful academy graduates sets us up a class above the rest you can never us
         </p>
       </div>
       <div class="column white-text flex-900">
         <div class="sub-column blue-bkg">
           <h2>Our Trade </h2>
           <p>
             Forex, also known as foreign exchange or FX trading, is the conversion of one currency into another.
              It is one of the most actively traded markets in the world, with an average daily trading volume of $5 trillion. Take a closer look
             at everything you’ll need to know about forex, including what it is, how you trade it and how leverage in forex works.
           </p>
         </div>
         <div class="sub-column blue-bkg">
           <h2>Work your way up</h2>
           <p>
             In the past years the Benefits Trade Group has come a long way, becoming an industry leader:
             by the middle of 2014 Exness Group clients' monthly trading volume was more than 180 billion
              USD and the number of trading accounts opened each month by traders around the world exceeded 15,000.
               Currently Exness Group offers the ability to trade more than 120 financial
             instruments, with some of the best-on-the-market order execution and record-tight spreads
             for the main currency pairs.
           </p>
         </div>
         <div class="sub-column blue-bkg">
           <h2>Our Strive for you</h2>
           <p>
             Continuous development, guided primarily by systematic improvement of trading conditions,
             is the key to Exness Group's long-term and successful work.
             Issues concerning improving the quality of services offered at Benefits Trade Group are
             considered most seriously. In December 2011
              Exness Group received an international certificate of compliance with
               ISO 9001:2008 for "Organizing Forex trading".
           </p>
         </div>
       </div>
     </section>
   </main>
   <!-- MAIN -->
   <footer class="vw-max blue-bkg">
     <h1 class="white-text">Benefits Assurance</h1>
     <div class="flex-1200 footer-links">
       <div>
         <h2>Client Support</h2>
         <p>
           Clients receive unique service: our official website   offer client support , including 24/5 support in 11 languages and 24/7 support in English and Chinese. Clients have access to high leverage, which considerably lowers margin requirements and allows trading strategies to be managed flexibly. And, of course, one of Exness Group's main advantages is the instant withdrawal of funds using a number of electronic payment systems, providing traders with around-the-clock control of their trading accounts' funds.
         </p>
       </div>
       <div>
         <h2>Getting around</h2>
         <p>Home</p>
         <p>About</p>
         <p>Contact</p>
       </div>
       <div>
         <h2>Other things</h2>
         <p>Lorem ipsum</p>
         <p>dolor</p>
         <p>sit amet</p>
         <p>consectetur</p>
       </div>
       <div>
         <h2>And more</h2>
         <p>Lorem ipsum</p>
         <p>dolor</p>
         <p>sit anet</p>
         <p>consectetur</p>
       </div>
     </div>
   </footer>

</div>
