<!-- <app-header></app-header> -->
<div style="background:#fff">
   <nav class="flex-col">
     <div class="nav-toggle" onclick="navChange(this)">
       <span class="hamburger top"></span>
       <span class="hamburger middle"></span>
       <span class="hamburger bottom"></span>
     </div>
     <!-- <img src="https://i.imgur.com/5sG0loK.png?1" alt="logo" /> -->
     <div class="ul-div flex-col">
       <ul class="main-nav">
         <li class="active"><a href="#home">home</a></li>
         <li><a href="#about">about</a></li>
         <li><a href="#contact">contact</a></li>
       </ul>
       <ul class="sec-nav">
         <li><a href="#signup">sign up</a></li>
         <li><a href="#signin">sign in</a></li>
       </ul>
     </div>
   </nav>
   <!-- HEADER -->
   <header class="vw-max flex-col blue-bkg">
     <div class="column">
       <h1 style="color:#fff">
         WE ARE A Trade Merchandise.
         <span class="brown-text">lets trade the easy way...</span>
       </h1>
     </div>
     <div class="column flex-end">
       <p>
         At Benefits Assurance, we've thought of everything down to the smallest detail.
         On the road to creating a world-class trading platform, we feel that it is our priority to offer the highest
          quality services and support, including professional level tutorials, analytical services, and client support.
       </p>
       <button><a href="">i want to learn</a></button>
     </div>
   </header>
   <!-- MAIN -->
   <main>
     <!-- SECTION 1 -->
     <section class="vw-max section-1 flex-1200">
       <div class="column">
         <h2 class="brown-text">Mobile-first</h2>
         <p style="font-size:14px">
           We know how important the quality of the trading platform is to a trader's success.
           That's precisely why Binomo places such emphasis on a high level of service and a wide spectrum
           of intellectual offers. In addition, the broker dedicates a huge amount of
           attention to the professional preparation of beginner traders,
           while at the same time providing for the highest level needs of the most sophisticated traders in the market.
         </p>
       </div>
       <div class="column">
         <h2 class="brown-text">Efficient</h2>
         <p style="font-size:14px">
           Binomo works with clients all over the world, guaranteeing the most advantageous terms and providing high quality access to the world's financial markets. We build our collaboration with our clients in the form of a conversation: we want to find out your needs and comments,
            and what you would like to get from working with Binomo, and we want to hear it directly from you.
         </p>
       </div>
       <div class="column">
         <h2 class="brown-text">Done right</h2>
         <p style="font-size:14px">
           Our collaboration with our clients is completely transparent,
            while our high-tech service allows traders to see the actual picture of the world's
             financial markets, and to evaluate your risk objectively. Binomo is certified by the IFC
              and all of the risks of our clients are insured in accordance with the current laws, which makes
               us one of the safest trading platforms in the world. All of this gives us and our clients the highest
                level of mutual trust and makes for a pleasant investing climate at Binomo.
         </p>
       </div>
     </section>
     <!-- SECTION 2 -->
     <section class="vw-max section-2 flex-1200">
       <div class="column">
         <h2>It doesn't have to be so hard</h2>
         <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
           reiciendis voluptatibus aspernatur exercitationem earum accusantium
           dolorem maxime! Dignissimos at non nulla magnam et fugit
           voluptatibus suscipit necessitatibus porro vitae, enim facilis
           repellat sint recusandae officiis!
         </p>
         <img src="https://i.imgur.com/ABNrflT.jpg" alt="wireframes" />
         <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique
           officiis blanditiis consequatur aspernatur soluta ea, voluptate
           aperiam cupiditate iste, deleniti earum necessitatibus! A, corrupti
           temporibus magni facilis blanditiis saepe obcaecati veritatis eum
           cupiditate quos vel?
         </p>
       </div>
       <div class="column white-text flex-900">
         <div class="sub-column blue-bkg">
           <h2>Break it down</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
             quam mollitia, illum, ab aut, pariatur quisquam sapiente at odit
             totam nihil similique. Praesentium culpa quasi natus nesciunt
           </p>
         </div>
         <div class="sub-column blue-bkg">
           <h2>Work your way up</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
             quam mollitia, illum, ab aut, pariatur quisquam sapiente at odit
             totam nihil similique. Praesentium culpa quasi natus nesciunt
           </p>
         </div>
         <div class="sub-column blue-bkg">
           <h2>Put it together</h2>
           <p>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
             quam mollitia, illum, ab aut, pariatur quisquam sapiente at odit
             totam nihil similique. Praesentium culpa quasi natus nesciunt
           </p>
         </div>
       </div>
     </section>
   </main>
   <!-- MAIN -->
   <footer class="vw-max blue-bkg">
     <h1 class="white-text">just scratching the surface</h1>
     <div class="flex-1200 footer-links">
       <div>
         <h2>About out company</h2>
         <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
           et dicta obcaecati temporibus cumque odit voluptas. Laudantium dicta
           optio ducimus aliquid impedit, quo nisi officia!
         </p>
       </div>
       <div>
         <h2>Getting around</h2>
         <p>Home</p>
         <p>About</p>
         <p>Contact</p>
       </div>
       <div>
         <h2>Other things</h2>
         <p>Lorem ipsum</p>
         <p>dolor</p>
         <p>sit amet</p>
         <p>consectetur</p>
       </div>
       <div>
         <h2>And more</h2>
         <p>Lorem ipsum</p>
         <p>dolor</p>
         <p>sit anet</p>
         <p>consectetur</p>
       </div>
     </div>
   </footer>

</div>
