<app-header></app-header>
<section class="banner" style="margin-top:40px">
  <div class="container">
    <div class="banner-text">
      <h1>Power Packed Package</h1>
      <p><strong>Signup with our available packages.</strong> We offer amazing services based on the package you engage upon signupand help you to respond quickly if there is a problem.</p>
      <button>Sign Up</button>
    </div>
  </div>
  <!-- <img class="banner-image" src="https://preview.ibb.co/bMi5Y6/banner_img.png" alt="monitoring" > -->
</section>

<div class="container">
  <div class="row">
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/cFV8mR/monitoring.png" alt="monitoring" >
      <h3 class="card-title">Free Plan</h3>
      <p class="card-text">No additional cost for registration. Get Access to our demo trading platform to start learning the indepth of our trading expertise.</p>
      <a class="card-link" href="./signup">Sign up now</a>
      </div>
    </div>
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/jfmg6R/cloud_firewalls.png" alt="monitoring" >
      <h3 class="card-title">Basic Plan</h3>
      <p class="card-text">Start trading with our basic plan for a minimum as at low as N30,000 with no additional cost.</p>
      <a class="card-link" href="./signup">Learn more</a>
      </div>
    </div>
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/fcnzt6/team_management.png" alt="team management" >
      <h3 class="card-title">Standard Plan</h3>
      <p class="card-text">Unlock some of our features an tips to trade wisely with our standard plan for as low as N50,000 no additional cost.</p>
      <a class="card-link" href="./signup">Learn more</a>
      </div>
    </div>
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/evyiLm/backups.png" alt="monitoring" >
      <h3 class="card-title">Gold</h3>
      <p class="card-text">Start as low as at N150,000 to trade financially with our guides and automated features to help boost you earnings.</p>
      <a class="card-link" href="#">Learn more</a>
      </div>
    </div>
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/g9bERR/snapshots.png" alt="snapshots" >
      <h3 class="card-title">Premium</h3>
      <p class="card-text">Trade with pro skills with our 24/7 support to help grow your investment.</p>
      <a class="card-link" href="#">Learn more</a>
      </div>
    </div>
    <div class="mb-30 col-md-6 col-lg-4">
      <div class="card">
      <img class="card-icon" src="https://image.ibb.co/cFV8mR/monitoring.png" alt="monitoring" >
      <h3 class="card-title">Monitoring</h3>
      <p class="card-text">Collect metrics on visibility, monitor Droplet performance and receive alerts when problems arise in your infrastructure–at no additional cost.</p>
      <a class="card-link" href="#">Learn more</a>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li>Footer Link</li>
        <li>Footer Link</li>
        
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Footer Link</li>
        <li>Footer Link</li>

      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Footer Link</li>
        <li>Footer Link</li>

      </ul>
    </div>
  </div>
  </div>
</footer>
