



<!--loading bar -->
<div id="mockup-loading" *ngIf="loading">
    <div class="loaderx"></div>
      <div class="loading">
      <div id="loader3" class="loading-area" style="">
        <div class="gtd-for-spa">
         <!--  <h3 style="color:#3498db;;">Commute</h3> -->
          <p style="color:#3498db;;">Loading...</p>
          <div class="loading-screen" style="text-align: center">
            <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
          </div>

          <div class="loading-info"></div>

        </div>
      </div>
    </div>


    <!--start -- ui -mock up-->

    <!-- Header -->
<div id="mock-up-start">


<main id="main" role="main">
  <div class="container">
    <div class="row">


      <div class="placeholder-content">
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
        <div class="placeholder-item"></div>
      </div>

    </div>
  </div>
</main>
</div><!--mockup ends-->


    <!--end mock up-->


</div>
<!--end loading-->
